/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Noto Serif JP", serif;
  --ff-logo: "Herr Von Muellerhoff", cursive;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #ebebeb;
  --clr-dark: #292929;
  --clr-accent: #dad8d8;
  --clr-text: rgb(56, 55, 55);

  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/* SELECTORS */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-text);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--ff-body);
  line-height: 1.6em;
}

section {
  padding: 6em 4em;
}

header {
  width: 100%;
  height: 55em;
  background-color: var(--clr-dark);
}
strong {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* TYPOGRAPHY */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  padding: 0 2em;
}
i {
  text-decoration: underline;
}
/* LOGO*/

.logo {
  font-style: italic;
  font-size: 1.2em;
  font-family: var(--ff-logo);
  color: var(--clr-light);
  padding-left: 1em;
  padding-top: 0.3em;
}

/* NAVIGATION */
.nav__list {
  font-family: var(--ff-primary);
  position: absolute;
  top: 4%;
  bottom: 0%;
  left: 0%;
  padding: 0;
  display: inline;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav__link {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  transition: 0.5s;
  color: var(--clr-light);
  font-size: 1em;
  font-weight: var(--fw-bold);
  text-decoration: none;
}
.nav__link:hover {
  z-index: 1;
  color: var(--clr-accent);
}
.nav__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--clr-accent);
  border-bottom: 1px solid var(--clr-accent);
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.nav__link:hover::before {
  opacity: 1;
  transform: scaleY(1.2);
}
.nav__link::after {
  content: "";
  background: var(--clr-dark);
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.5s;
  z-index: -1;
}

.nav__link:hover::after {
  transform: scale(1);
}

/* Introduction */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
  margin: 0;
  padding-top: 15.5em;
}
.intro__paragraph {
  font-size: 1.3em;
  font-family: var(--ff-primary);
  letter-spacing: .1em;
  padding-top: 3em;
}
.intro__consulting {
  padding: 0;
  font-size: .9em;
  font-family: var(--ff-primary);
  letter-spacing: .3em;
  font-style: italic;
}
.intro__paragraph--portfolioPage {
  line-height: 1.6em;
}

@media (min-width: 768px) {
  
  section {
    padding: 25em 4em;
  }
  .me{
    padding: 10em;
  }
  .logo {
    font-size: 1.4em;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
  }
  .nav__link {
    padding: 0 2em;
  }
  .intro {
    padding-top: 9em;
  }
  .intro__paragraph {
    font-size: 1.6em;
    
  }
  .intro__consulting {
   font-size: 1.2em;
  }
 .about-portfolio-item {
   padding: 5em;
 }
}

@media (min-width: 1224px) {
 .me {
   padding: 13em;
 }
 .about-portfolio-item {
    padding: 5em;
  }
  .logo {
    font-size: 1.6em;
  }
  
  .intro__paragraph {
    font-size: 1.8em;
    
  }
  .intro__consulting {
   font-size: 1.5em;
  }
}

/* ABOUT ME */

.section__subtitle--about {
  padding: 0.25em 1em;
  background: var(--clr-accent);
  margin-bottom: 1em;
  padding: 0.5em;
}

.about-me  {
  max-width: 100%;
  margin: 0 auto;
  
}


.about-me__img {
  box-shadow: var(--bs);
}
.description {
  padding: 0 1.5em;
}

@media (min-width: 768px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    align-self: start;
    grid-row: 2;
    position: relative;
    left: -0.5em;
    padding-left: 2em;
    z-index: -1;
    width: calc(100% + 1em);
  }

  .about-me__img {
    grid-area: img;
  }
}

/* Portfolio */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding-top: 10em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 0.5em;
}
.portfolio__item {
  background: var(--clr-dark);
  overflow: hidden;
}

.portfolio__img,
.image__link:hover {
  transition: transform 650ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.portfolio__item:focus {
  position: relative;
  z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: 0.75;
}
.image__link:hover {
  transform: scale(1.1);
}
/* FOOTER */
.footer {
  background: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: var(--clr-dark);
  text-decoration: none;
}
.footer__link {
  font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover {
  opacity: 0.5;
}

.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0;
  padding: 0;
  list-style: none;
}
.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 1em;
}

.my__projects {
  padding: 1em;
}
